*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%; 
    width: 600px;
    height: 300px;
    padding-bottom: 20px;
    
}

h1{
    position: absolute;
    top: 0;
    background-color: #B2BEB5;
    padding: 20px;
    color: green;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

p{
    margin-top: 80px;
}

.input{
    margin-top: 15px;
    display: flex;
    gap: 8px;
}

.input input{
    width: 25px;
}

.button{
    margin-top: 15px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
.guess{
    font-size: 20px;
    font-weight: 800;
}